.component1.component1 {
  left: 3px;
  top: 851px;
  width: 1367px;
  height: 654.5255px;
}
.frame24.frame24 {
  left: 134.4712px;
  top: 49.7766px;
  width: 320.2049px;
  height: 565.3734px;
}
.rectangle13.rectangle13 {
  width: 320.2049px;
  height: 565.3734px;
  outline: solid 1.4859px #000;
  outline-offset: -1px;
  border-radius: 42.3473px;
}
.films {
  color: #fff;
  font-size: 29.7174px;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 4518.5293px;
  top: 599.5483px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.frame25.frame25 {
  left: 545.3141px;
  top: 49.7766px;
  width: 320.2049px;
  height: 565.3734px;
}
.rectangle14.rectangle14 {
  width: 320.2049px;
  height: 565.3734px;
  outline: solid 1.4859px #000;
  outline-offset: -1px;
  border-radius: 42.3473px;
}
.gaming {
  color: #000;
  font-size: 29.7174px;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 4444.2358px;
  top: 599.5483px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.frame26.frame26 {
  left: 956.157px;
  top: 49.7766px;
  width: 320.2049px;
  height: 565.3734px;
}
.rectangle15.rectangle15 {
  width: 320.2049px;
  height: 565.3734px;
  outline: solid 1.4859px #000;
  outline-offset: -1px;
  border-radius: 42.3473px;
  background-color: initial;
  background-image:/* webpackIgnore: true */ url('assets/rectangle15.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.cosplay {
  color: #000;
  font-size: 29.7174px;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 4431.606px;
  top: 599.5483px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.frame27.frame27 {
  left: 1367px;
  top: 49.7766px;
  width: 320.2049px;
  height: 565.3734px;
}
.rectangle16.rectangle16 {
  width: 320.2049px;
  height: 565.3734px;
  outline: solid 1.4859px #000;
  outline-offset: -1px;
  border-radius: 42.3473px;
}
.frame28.frame28 {
  left: 1777.8429px;
  top: 49.7766px;
  width: 320.2049px;
  height: 565.3734px;
}
.rectangle17.rectangle17 {
  width: 320.2049px;
  height: 565.3734px;
  outline: solid 1.4859px #000;
  outline-offset: -1px;
  border-radius: 42.3473px;
}
.frame29.frame29 {
  left: 2188.6858px;
  top: 49.7766px;
  width: 320.2049px;
  height: 565.3734px;
}
.rectangle18.rectangle18 {
  width: 320.2049px;
  height: 565.3734px;
  outline: solid 1.4859px #000;
  outline-offset: -1px;
  border-radius: 42.3473px;
}
.frame30.frame30 {
  left: 2599.5288px;
  top: 49.7766px;
  width: 320.2049px;
  height: 565.3734px;
}
.rectangle19.rectangle19 {
  width: 320.2049px;
  height: 565.3734px;
  outline: solid 1.4859px #000;
  outline-offset: -1px;
  border-radius: 42.3473px;
}
.frame31.frame31 {
  left: 3010.3716px;
  top: 49.7766px;
  width: 320.2049px;
  height: 565.3734px;
}
.rectangle20.rectangle20 {
  width: 320.2049px;
  height: 565.3734px;
  outline: solid 1.4859px #000;
  outline-offset: -1px;
  border-radius: 42.3473px;
}
.frame32.frame32 {
  left: 3421.2146px;
  top: 49.7766px;
  width: 320.2049px;
  height: 565.3734px;
}
.rectangle21.rectangle21 {
  width: 320.2049px;
  height: 565.3734px;
  outline: solid 1.4859px #000;
  outline-offset: -1px;
  border-radius: 42.3473px;
}
.gaming2 {
  color: #000;
  font-size: 29.7174px;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 644.8674px;
  top: 528.2266px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.cosplay2 {
  color: #fff;
  font-size: 29.7174px;
  font-weight: bold;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 1055.7103px;
  top: 528.2266px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.anime {
  color: #000;
  font-size: 29.7174px;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 1479.1831px;
  top: 528.2266px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.asianDramas {
  color: #000;
  font-size: 29.7174px;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 1833.563px;
  top: 528.2266px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.starWars {
  color: #000;
  font-size: 29.7174px;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 2277.095px;
  top: 528.2266px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.tableTop {
  color: #000;
  font-size: 29.7174px;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 2686.4521px;
  top: 528.2266px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.tech {
  color: #000;
  font-size: 29.7174px;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 3134.4417px;
  top: 528.2266px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.animation {
  color: #000;
  font-size: 29.7174px;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 3520.0249px;
  top: 528.2266px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.icOutlineArrowRight.icOutlineArrowRight {
  left: 1210.2407px;
  top: 221.3946px;
  width: 222.8804px;
  height: 222.8804px;
}
.icOutlineArrowRight {
  left: 1210.2407px;
  top: 221.3946px;
  width: 222.8804px;
  height: 222.8804px;
}
.icon {
  width: 100%;
  height: 100%;
}
.icOutlineArrowRight2.icOutlineArrowRight2 {
  left: -26.7457px;
  top: -1.4859px;
  width: 222.8804px;
  height: 222.8804px;
}
.icOutlineArrowRight2 {
  left: -26.7457px;
  top: -1.4859px;
  width: 222.8804px;
  height: 222.8804px;
}
.icon2 {
  width: 100%;
  height: 100%;
}
.carousel.carousel {
  left: -1px;
  top: 103px;
  height: 748px;
}
.slideList.slideList {
  -webkit-mask-image:/* webpackIgnore: true */ url('assets/slidesBox2.svg');
  mask-image:/* webpackIgnore: true */ url('assets/slidesBox2.svg');
  -webkit-mask-size: 1428px 741px;
  mask-size: 1428px 741px;
}
.unsplashS3EjzLRA4Yw.unsplashS3EjzLRA4Yw.unsplashS3EjzLRA4Yw {
  background-image:/* webpackIgnore: true */ url('assets/unsplashS3EjzLRA4Yw.jpg');
}
.unsplashXfngap_DToE.unsplashXfngap_DToE.unsplashXfngap_DToE {
  background-image:/* webpackIgnore: true */ url('assets/unsplashXfngap_DToE.jpg');
}
.unsplashYFFGkE3y4F8.unsplashYFFGkE3y4F8.unsplashYFFGkE3y4F8 {
  background-image:/* webpackIgnore: true */ url('assets/unsplashYFFGkE3y4F8.jpg');
}
.unsplashG30P1zcOzXo.unsplashG30P1zcOzXo.unsplashG30P1zcOzXo {
  background-image:/* webpackIgnore: true */ url('assets/unsplashG30P1zcOzXo.jpg');
}
.unsplashCqbLg3lZEpk.unsplashCqbLg3lZEpk.unsplashCqbLg3lZEpk {
  background-image:/* webpackIgnore: true */ url('assets/unsplashCqbLg3lZEpk.jpg');
}
.link.link {
  left: 862px;
  top: 87px;
  width: 194.2264px;
  height: 19.8902px;
  align-items: flex-start;
}
.masterLink.masterLink.masterLink {
  align-self: initial;
  gap: 4.9542px;
}
.lineRoundedEmail.lineRoundedEmail {
  width: 16.5139px;
  height: 16.5139px;
}
.email.email {
  left: 1.3762px;
  top: 3.1926px;
  width: 13.7616px;
  height: 10.3211px;
}
.email {
  left: 1.3762px;
  top: 3.1926px;
  width: 13.7616px;
  height: 10.3211px;
}
.icon3 {
  width: 100%;
  height: 100%;
}
.linkItem {
  color: #000;
  font-size: 14.8625px;
  line-height: 16.5139px;
  font-family: DM Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.link2.link2 {
  left: 862px;
  top: 124px;
  width: 132.468px;
  height: 18.7852px;
  align-items: flex-start;
}
.masterLink2.masterLink2.masterLink2 {
  align-self: initial;
  gap: 4.9542px;
}
.lineRoundedPhone.lineRoundedPhone {
  width: 16.5139px;
  height: 16.5139px;
}
.phone.phone {
  left: 1.3762px;
  top: 1.1281px;
  width: 13.763px;
  height: 13.7616px;
}
.phone {
  left: 1.3762px;
  top: 1.1281px;
  width: 13.763px;
  height: 13.7616px;
}
.icon4 {
  width: 100%;
  height: 100%;
}
.linkItem2 {
  color: #000;
  font-size: 14.8625px;
  line-height: 16.5139px;
  font-family: DM Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.lineRoundedMark.lineRoundedMark {
  left: -0.0001%;
  right: 0.0001%;
  top: 22.1781%;
  bottom: 0.0004%;
  width: 16.5139px;
  height: 16.5139px;
}
.mark.mark {
  left: 2.5921px;
  top: 1.3762px;
  width: 11.3298px;
  height: 13.7616px;
}
.mark {
  left: 2.5921px;
  top: 1.3762px;
  width: 11.3298px;
  height: 13.7616px;
}
.icon5 {
  width: 100%;
  height: 100%;
}
.root {
  position: relative;
  width: 1440px;
  height: 3151px;
  align-items: flex-start;
  background-color: #000;
  overflow: hidden;
}
.rectangle5201 {
  position: absolute;
  left: -2px;
  top: 1714px;
  width: 1440px;
  height: 835px;
  border-radius: 125px;
  background-image: linear-gradient(160.9deg, #5a0a17ff 0%, #a81028ff 29%, #261f1fff 66%, #261f1f00 100%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
}
.navBar {
  position: absolute;
  left: -31px;
  top: 0;
  width: 1502px;
  height: 100px;
  align-items: flex-start;
  background-color: #eba415;
  overflow: hidden;
}
.about {
  color: #000;
  font-size: 24px;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 798px;
  top: 33px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.community {
  color: #000;
  font-size: 24px;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 952px;
  top: 33px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.gallery {
  color: #000;
  font-size: 24px;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 1167px;
  top: 33px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.vector {
  position: absolute;
  left: 88.8149%;
  right: 8.1225%;
  top: 6%;
  bottom: 49%;
  overflow: visible;
}
.icon6 {
  width: 100%;
  height: 100%;
}
.rectangle132 {
  position: absolute;
  left: 637px;
  top: 0;
  width: 107px;
  height: 78px;
  background-color: #fa040400;
}
.rectangle22 {
  position: absolute;
  left: 630px;
  top: -5px;
  width: 100px;
  height: 100px;
  background-color: #d9d9d900;
}
.rectangle23 {
  position: absolute;
  left: 939px;
  top: 0;
  width: 156px;
  height: 100px;
  background-color: #d9d9d900;
}
.rectangle5208 {
  position: absolute;
  left: 792px;
  top: 39px;
  width: 90px;
  height: 37px;
  background-color: #fd0d0d00;
}
.signIn {
  color: #000;
  font-size: 20px;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 1321px;
  top: 52px;
  width: 73px;
  height: 24px;
  flex-direction: column;
}
.geeksOfTheWeek {
  color: #fff;
  font-size: 40px;
  font-weight: bold;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 119px;
  top: 807px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.rectangle25 {
  position: absolute;
  left: 750px;
  top: 1842px;
  width: 538px;
  height: 316px;
  border-radius: 30px;
  background-image:/* webpackIgnore: true */ url('assets/rectangle25.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.rectangle26 {
  position: absolute;
  left: 147px;
  top: 1842px;
  width: 538px;
  height: 316px;
  border-radius: 30px;
  background-image:/* webpackIgnore: true */ url('assets/rectangle26.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.newsAnnouncements {
  color: #fff;
  font-size: 40px;
  font-weight: bold;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 147px;
  top: 1739px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.footerV1 {
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 1440px;
  height: 312px;
  align-items: center;
  gap: 99.0833px;
  padding: 0 0 99.0833px;
  background-color: #eba415;
  overflow: hidden;
  transform: translateX(-50%);
}
.divider {
  transform-origin: bottom left;
  position: absolute;
  left: 1189px;
  top: -39.8257px;
  width: 1189px;
  max-width: 100%;
  height: 0;
  max-height: 100%;
  border-bottom: solid 0.8257px #eff0f6;
  margin-bottom: -0.8257px;
  transform: matrix(-1, 0, 0, -1, 0, 0);
}
._24px {
  position: absolute;
  left: 81.7437px;
  top: 60.083px;
  width: min-content;
  height: min-content;
  flex-direction: column;
  align-items: flex-start;
  gap: 19.8167px;
}
.copyright {
  color: #000;
  font-size: 14.8625px;
  line-height: 24.7708px;
  font-weight: bold;
  font-family: DM Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 247px;
  height: min-content;
  flex-direction: column;
}
.socialMediaContainer {
  width: min-content;
  height: min-content;
  align-items: center;
  gap: 18.1653px;
}
.socialMediaIconSquareFacebook {
  width: 9.0826px;
  height: 15.6882px;
  overflow: visible;
}
.icon7 {
  width: 100%;
  height: 100%;
}
.socialMediaIconSquareTwitter {
  width: 15.6882px;
  height: 12.3854px;
  overflow: visible;
}
.icon8 {
  width: 100%;
  height: 100%;
}
.socialMediaIconSquareInstagram {
  width: 15.6882px;
  height: 15.6882px;
  overflow: visible;
}
.icon9 {
  width: 100%;
  height: 100%;
}
.socialMediaIconSquareLinkedIn {
  width: 15.6882px;
  height: 14.8625px;
  overflow: visible;
}
.icon10 {
  width: 100%;
  height: 100%;
}
.socialMediaIconSquareYouTube {
  width: 17.3396px;
  height: 12.3854px;
  overflow: visible;
}
.icon11 {
  width: 100%;
  height: 100%;
}
.line135 {
  transform-origin: bottom left;
  position: absolute;
  left: 81.7437px;
  top: 341.4441px;
  width: 1024.6869px;
  max-width: 100%;
  height: 0;
  max-height: 100%;
  border-bottom: solid 0.8257px #d9dbe9;
  margin-bottom: -0.8257px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
.footerColumn {
  position: absolute;
  left: 728px;
  top: 46px;
  width: min-content;
  height: 211px;
  flex-direction: column;
  align-items: flex-start;
  gap: 14px;
  padding: 0 0 34px;
}
.footerTitle {
  color: #000;
  font-size: 16.5139px;
  line-height: 18.1653px;
  font-weight: bold;
  font-family: DM Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.footerLinks {
  width: min-content;
  max-width: 100%;
  height: min-content;
  max-height: 100%;
  flex-direction: column;
  align-items: flex-start;
  gap: 14.8625px;
}
.link3 {
  width: min-content;
  max-width: 100%;
  height: min-content;
  max-height: 100%;
}
.masterLink3 {
  width: min-content;
  max-width: 100%;
  height: min-content;
  max-height: 100%;
  align-self: flex-start;
  align-items: center;
  gap: 4.9542px;
}
.link4 {
  width: min-content;
  max-width: 100%;
  height: min-content;
  max-height: 100%;
}
.masterLink4 {
  width: min-content;
  max-width: 100%;
  height: min-content;
  max-height: 100%;
  align-self: flex-start;
  align-items: center;
  gap: 4.9542px;
}
.link5 {
  width: min-content;
  max-width: 100%;
  height: min-content;
  max-height: 100%;
}
.masterLink5 {
  width: min-content;
  max-width: 100%;
  height: min-content;
  max-height: 100%;
  align-self: flex-start;
  align-items: center;
  gap: 4.9542px;
}
.link6 {
  width: min-content;
  max-width: 100%;
  height: min-content;
  max-height: 100%;
}
.masterLink6 {
  width: min-content;
  max-width: 100%;
  height: min-content;
  max-height: 100%;
  align-self: flex-start;
  align-items: center;
  gap: 4.9542px;
}
.footerTitle2 {
  color: #000;
  font-size: 16.5139px;
  line-height: 18.1653px;
  font-weight: bold;
  font-family: DM Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 540px;
  top: 46px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.footerColumn2 {
  position: absolute;
  left: 339px;
  top: 60px;
  width: min-content;
  height: 184px;
  flex-direction: column;
  align-items: flex-start;
  gap: 33.0278px;
}
.footerTitle3 {
  color: #000;
  font-size: 16.5139px;
  line-height: 0;
  font-weight: bold;
  font-family: DM Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  max-width: 100%;
  height: min-content;
  max-height: 100%;
  white-space: nowrap;
  flex-direction: column;
}
.footerLinks2 {
  width: 158px;
  height: 149px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}
.link7 {
  width: min-content;
  height: min-content;
}
.masterLink7 {
  width: min-content;
  height: min-content;
  align-self: flex-start;
  align-items: center;
  gap: 4.9542px;
}
.noFearAct {
  color: #000;
  font-size: 14.8625px;
  line-height: 16.5139px;
  font-family: DM Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.fOIA {
  color: #000;
  font-size: 14.8625px;
  line-height: 16.5139px;
  font-family: DM Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.link8 {
  width: min-content;
  max-width: 100%;
  height: min-content;
  max-height: 100%;
}
.masterLink8 {
  width: min-content;
  max-width: 100%;
  height: min-content;
  max-height: 100%;
  align-self: flex-start;
  align-items: center;
  gap: 4.9542px;
}
.link9 {
  width: min-content;
  max-width: 100%;
  height: min-content;
  max-height: 100%;
}
.masterLink9 {
  width: min-content;
  max-width: 100%;
  height: min-content;
  max-height: 100%;
  align-self: flex-start;
  align-items: center;
  gap: 4.9542px;
}
.link10 {
  width: min-content;
  height: min-content;
}
.masterLink10 {
  width: min-content;
  height: min-content;
  align-self: flex-start;
  align-items: center;
  gap: 4.9542px;
}
.link11 {
  width: min-content;
  max-width: 100%;
  height: min-content;
  max-height: 100%;
}
.masterLink11 {
  width: min-content;
  max-width: 100%;
  height: min-content;
  max-height: 100%;
  align-self: flex-start;
  align-items: center;
  gap: 4.9542px;
}
.footerColumn3 {
  position: absolute;
  left: 540px;
  top: 46px;
  width: min-content;
  height: 221px;
  flex-direction: column;
}
.footerLinks3 {
  width: min-content;
  height: 260px;
  align-self: flex-start;
  flex-direction: column;
  align-items: flex-start;
  gap: 14.8625px;
}
.link12 {
  width: min-content;
  max-width: 100%;
  height: min-content;
  max-height: 100%;
}
.masterLink12 {
  width: min-content;
  max-width: 100%;
  height: min-content;
  max-height: 100%;
  align-self: flex-start;
  align-items: center;
  gap: 4.9542px;
}
.link13 {
  width: min-content;
  height: min-content;
}
.masterLink13 {
  width: min-content;
  height: min-content;
  align-self: flex-start;
  align-items: center;
  gap: 4.9542px;
}
.disclaimer {
  color: #000;
  font-size: 14.8625px;
  line-height: 16.5139px;
  font-family: DM Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.link14 {
  width: min-content;
  max-width: 100%;
  height: min-content;
  max-height: 100%;
}
.masterLink14 {
  width: min-content;
  max-width: 100%;
  height: min-content;
  max-height: 100%;
  align-self: flex-start;
  align-items: center;
  gap: 4.9542px;
}
.footerColumn4 {
  position: absolute;
  left: 866px;
  top: 46px;
  width: 90px;
  height: 20.9952px;
  flex-direction: column;
  align-items: flex-start;
}
.footerTitle4 {
  color: #000;
  font-size: 16.5139px;
  line-height: 18.1653px;
  font-weight: bold;
  font-family: DM Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
._8px {
  position: absolute;
  left: 862px;
  top: 162px;
  width: min-content;
  height: 55.2505px;
  align-items: flex-start;
  gap: 6.6056px;
}
.spacerIconWrapper {
  position: relative;
  width: 16.5139px;
  height: 21.2202px;
}
.spacer {
  opacity: 0;
  position: absolute;
  left: 7.0535%;
  right: 9.2314%;
  top: -0.0004%;
  bottom: 59.2825%;
  width: 13.8246px;
  height: 8.6404px;
  background-color: #fff;
}
.footerDescription {
  color: #000;
  font-size: 14.8625px;
  line-height: 24.7708px;
  font-family: DM Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 163.1709px;
  height: min-content;
  flex-direction: column;
}
.footerLeft {
  color: #6f6c90;
  font-size: 14.8625px;
  line-height: 24.7708px;
  font-family: DM Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 90.3327px;
  top: 363.0005px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.footerRight {
  position: absolute;
  left: 688.4279px;
  top: 363.0004px;
  width: min-content;
  height: min-content;
  text-align: end;
  align-items: end;
  white-space: nowrap;
  flex-direction: column;
}
.labelWrapper {
  font-size: 14.8625px;
  font-family: DM Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  flex-shrink: 1;
}
.label {
  color: #6f6c90;
  font-size: 14.8625px;
  line-height: 24.7708px;
  font-family: DM Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.label2 {
  color: #4a3aff;
  font-size: 14.8625px;
  line-height: 24.7708px;
  font-family: DM Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  text-decoration: underline;
}
.label3 {
  color: #6f6c90;
  font-size: 14.8625px;
  line-height: 24.7708px;
  font-family: DM Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.label4 {
  color: #4a3aff;
  font-size: 14.8625px;
  line-height: 24.7708px;
  font-family: DM Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  text-decoration: underline;
}
.image1 {
  position: absolute;
  left: 138px;
  top: 901px;
  width: 318px;
  height: 565px;
  border-radius: 22px;
  background-image:/* webpackIgnore: true */ url('assets/image1.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.film {
  color: #fff;
  font-size: 29.7174px;
  font-weight: bold;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 259px;
  top: 1389px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.image3 {
  position: absolute;
  left: 548px;
  top: 902px;
  width: 321px;
  height: 564px;
  border-radius: 31px;
  background-image:/* webpackIgnore: true */ url('assets/image3.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.gaming3 {
  color: #fff;
  font-size: 29.7174px;
  font-weight: bold;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 680px;
  top: 1389px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
._20CreativeLatinaCosplayersWhoW {
  color: #fff;
  font-size: 20px;
  line-height: 130%;
  font-weight: bold;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  text-transform: uppercase;
  position: absolute;
  left: 199px;
  top: 2059px;
  width: 453px;
  height: 72px;
  flex-direction: column;
}
.theGloryMeetSongHyeKyoAndTheCa {
  color: #fff;
  font-size: 20px;
  line-height: 130%;
  font-weight: bold;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  text-transform: uppercase;
  position: absolute;
  left: 791px;
  top: 2061px;
  width: 477px;
  height: 70px;
  flex-direction: column;
}
.rectangle27 {
  position: absolute;
  left: 147px;
  top: 2201px;
  width: 538px;
  height: 316px;
  border-radius: 30px;
  background-image:/* webpackIgnore: true */ url('assets/rectangle27.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.rectangle28 {
  position: absolute;
  left: 750px;
  top: 2201px;
  width: 538px;
  height: 316px;
  border-radius: 30px;
  background-image:/* webpackIgnore: true */ url('assets/rectangle28.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.whyTheCEOOfBlackGirlsCodeTurne {
  color: #fff;
  font-size: 20px;
  line-height: 130%;
  font-weight: bold;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  text-transform: uppercase;
  position: absolute;
  left: 183px;
  top: 2418px;
  width: 465px;
  height: 62px;
  flex-direction: column;
}
.dreamCon2023FeaturedGuestsSome {
  color: #fff;
  font-size: 20px;
  line-height: 130%;
  font-weight: bold;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  text-transform: uppercase;
  position: absolute;
  left: 816px;
  top: 2438px;
  width: 428px;
  height: 51px;
  flex-direction: column;
}
.mELA11 {
  position: absolute;
  left: -24px;
  top: -2px;
  width: 500px;
  height: 104.902px;
  background-image:/* webpackIgnore: true */ url('assets/mELA11.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.rectangle514 {
  position: absolute;
  left: 137px;
  top: 902px;
  width: 319px;
  height: 564px;
  border-radius: 12px;
}
.rectangle5202 {
  position: absolute;
  left: 548px;
  top: 902px;
  width: 321px;
  height: 564px;
  border-radius: 31px;
}
.rectangle5203 {
  position: absolute;
  left: 959px;
  top: 902px;
  width: 320px;
  height: 564px;
  border-radius: 36px;
}
