.root {
  position: absolute;
  left: 0;
  top: 0;
  width: 640px;
  height: 320px;
  align-items: flex-start;
  border-radius: 40px;
  background-color: #fff;
  overflow: hidden;
}
.slideImage {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-image:/* webpackIgnore: true */ url('assets/slideImage4.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
